*{
  text-align: center;
  background-color: #bfefec;
}
img{
  height: 280px;
  width: 300px;
  margin: 30px;
}
header{
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
}
button{
  display: none;
}
