*{
  text-align: center;
  /*background-color: #bfefec;*/
}
img{
  height: 310px;
  width: 290px;
  margin: 30px;
}

header{
  font-family: 'Cinzel', serif;
  font-size: 80px;
  width: 100%;
  height: 130px;
  background-color: gray;
}
h1:hover{
  color: white;
}

h2, h3, p{
  font-family: 'Oswald', sans-serif;
}
 h2{
   font-size: 34px;
   padding-bottom: 10px;
 }
 h3 {
   font-size: 26px;
   line-height: 30px;
 }
 p{
   font-size: 22px;
   line-height: 29px;
 }
button{
  display: none;
}

body{
  background-color: #b1b2b5;
  height: 480px;
}

footer{
  background-color: #616263;
  height: 110px;
  width: 100%;
}

#results, #myChart{
  position: relative;
  left: 375px;
}
